In [23]:
# Importing all rerquired libraries and dependency

import pandas as pd

In [24]:
# Loading Data in pandas DataFrame

bike_sharing_data = pd.read_csv('day.csv')

bike_sharing_data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [25]:
# Dropping unnecessary columns

bike_sharing_data = bike_sharing_data.drop(['yr', 'mnth', 'workingday'], axis=1, errors='ignore')

bike_sharing_data.head()

,instant,dteday,season,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,6,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,2,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,3,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [26]:
# Converting Season column into One-Hot Encoding

bike_sharing_data['season'] = bike_sharing_data['season'].replace({1: 'spring', 2: 'summer', 3: 'fall', 4: 'winter'})

bike_sharing_data = pd.get_dummies(bike_sharing_data, columns=['season'], prefix='season')

bike_sharing_data.head()

,instant,dteday,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,season_fall,season_spring,season_summer,season_winter
0,1,2011-01-01,0,6,2,0.344167,0.363625,0.805833,0.160446,331,654,985,0,1,0,0
1,2,2011-01-02,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,0,1,0,0
2,3,2011-01-03,0,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,0,1,0,0
3,4,2011-01-04,0,2,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,0,1,0,0
4,5,2011-01-05,0,3,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,0,1,0,0

In [27]:
# Saving DataFrame as a CSV file

bike_sharing_data.to_csv('bike_sharing_data.csv', index=False)